@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  background: rgb(70, 204, 252);
  background: radial-gradient(
    circle,
    rgba(70, 204, 252, 1) 47%,
    rgba(76, 219, 204, 1) 71%
  );
}
.theTitle {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.theMain {
  display: flex;
}

.theContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  border: 14px solid #50f4ff;
  box-shadow: 10px 6px 5px 0px rgba(128, 224, 217, 1);
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
}

.theContent .about {
  font-size: 1em;
}
img {
  border-radius: 100px;
  background-color: #bb06ad;
  color: #fff;
  line-height: 200px;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: -60px;
}
.btn {
  margin-bottom: -50px;
  margin-top: 30px;
  box-shadow: inset -5px 0px 0px -31px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 2px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 35px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #528ecc;
}
.btn:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
.btn:active {
  position: relative;
  top: 1px;
}
